@let userNameOrEmailCtr = loginForm.controls.userNameOrEmail;
@let passwordCtr = loginForm.controls.password;

<div class="bg-surface-50 dark:bg-surface-950 px-6 py-20 md:px-20 lg:px-80">
  <div
    class="bg-surface-0 dark:bg-surface-900 p-8 md:p-12 shadow-sm rounded-2xl w-full max-w-xl mx-auto flex flex-col gap-8"
  >
    <!-- Header -->
    <div class="flex flex-col items-center gap-4">
      <div class="flex flex-col items-center gap-2">
        <img class="w-24" src="/logo.png" alt="ChatSR logo" />
        <h1 class="text-3xl font-bold text-surface-900 dark:text-surface-0 tracking-wide">
          ChatSR
        </h1>
      </div>

      <div class="flex flex-col items-center gap-2 w-full">
        <div
          class="text-surface-900 dark:text-surface-0 text-2xl font-semibold leading-tight text-center w-full"
        >
          Welcome Back
        </div>

        <div class="text-center w-full">
          <span class="text-surface-700 dark:text-surface-200 leading-normal">
            Don't have an account?
          </span>
          <a
            routerLink="/auth/register"
            class="text-primary font-medium ml-1 cursor-pointer hover:text-primary-emphasis"
          >
            Create today!
          </a>
        </div>
      </div>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full">
      <!-- Username or Email -->
      <div class="flex flex-col gap-2 w-full">
        <label
          for="userNameOrEmail"
          class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
        >
          Username or Email
        </label>
        <input
          formControlName="userNameOrEmail"
          pInputText
          id="userNameOrEmail"
          type="text"
          placeholder="Username Or Email"
          class="w-full px-3 py-2 shadow-sm rounded-lg"
          autocomplete="email"
          [autofocus]="false"
        />
        @if (
          userNameOrEmailCtr.errors && (userNameOrEmailCtr.dirty || userNameOrEmailCtr.touched)
        ) {
          @if (userNameOrEmailCtr.hasError('required')) {
            <p-message severity="error" size="small" variant="simple">
              Username or Email is required.
            </p-message>
          }
          @if (userNameOrEmailCtr.hasError('minlength')) {
            <p-message severity="error" size="small" variant="simple">
              Username or Email must be at least 3 characters.
            </p-message>
          }
        }
      </div>

      <!-- Password -->
      <div class="flex flex-col gap-2 w-full">
        <label
          for="password"
          class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
          >Password</label
        >

        <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          inputId="password"
          placeholder="Password"
          inputStyleClass="w-full shadow-sm rounded-lg"
          autocomplete="current-password"
          [autofocus]="false"
        />

        @if (passwordCtr.errors && (passwordCtr.dirty || passwordCtr.touched)) {
          <p-message severity="error" size="small" variant="simple"
            >Password is required.</p-message
          >
        }
      </div>

      <!-- Forgot Password -->
      <div
        class="flex flex-col sm:flex-row items-start sm:items-center justify-between w-full gap-3 sm:gap-0"
      >
        <a class="text-primary font-medium cursor-pointer hover:text-primary-emphasis"
          >Forgot your password?</a
        >
      </div>

      <button
        pButton
        [loading]="loading()"
        class="w-full py-2 rounded-lg flex justify-center items-center gap-2"
      >
        <i pButtonIcon class="pi pi-user text-base! leading-normal!"></i>
        <span pButtonLabel>Sign In</span>
      </button>
    </form>
  </div>
</div>


