@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark, .dark *));

@import './styles/animation.css';
@import './styles/scrollpanel.css';
