@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
