@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark, .dark *));

@import './styles/animation.css';
@import './styles/scrollpanel.css';

.active-chat {
  @apply bg-gray-200/50 dark:bg-gray-800/50;
}
