<ul>
  @for (chat of userChats(); track chat.chatId) {
    <li class="relative overflow-hidden transition-colors duration-200">
      <a
        [routerLink]="['/chats', chat.chatId]"
        [routerLinkActive]="['active-chat']"
        class="flex cursor-pointer items-center gap-3 p-4 transition-all duration-200 hover:bg-linear-to-r hover:from-gray-50 hover:to-transparent dark:hover:from-gray-800/50 dark:hover:to-transparent"
        pRipple
      >
        <!-- Avatar with status indicator -->
        <div class="relative shrink-0">
          @if (chat.displayPictureUrl) {
            <img
              [src]="`${serverUrl}/${chat.displayPictureUrl}`"
              class="size-12 rounded-full object-cover ring-2 ring-gray-100 dark:ring-gray-800"
              [alt]="chat.name"
            />
          } @else {
            <div
              class="flex size-12 items-center justify-center rounded-full shadow-sm"
              [class]="
                chat.isGroup
                  ? 'bg-linear-to-br from-teal-400 via-teal-500 to-teal-600'
                  : 'bg-linear-to-br from-sky-400 via-sky-500 to-sky-600'
              "
            >
              <span class="text-lg font-semibold text-white uppercase">
                {{ chat.name.charAt(0) }}
              </span>
            </div>
          }
        </div>

        @let unreadCount = unreadCountsMap().get(chat.chatId) ?? 0;
        <!-- Content -->
        <div class="min-w-0 flex-1">
          <div class="mb-1 flex items-center justify-between gap-3">
            <h3
              class="truncate text-gray-900 dark:text-gray-100"
              [class]="unreadCount > 0 ? 'font-bold' : 'font-medium'"
            >
              {{ chat.name }}
            </h3>

            <div class="flex shrink-0 items-center gap-2">
              <time class="text-xs font-medium text-gray-500 dark:text-gray-400">
                {{ chat.lastMessage?.sentAt | chatDate }}
              </time>
            </div>
          </div>

          <div class="flex items-center justify-between gap-3">
            <p
              class="truncate text-sm text-gray-600 dark:text-gray-400"
              [class]="{
                'font-medium': unreadCount > 0,
                'text-gray-900': unreadCount > 0,
                'dark:text-gray-200': unreadCount > 0,
              }"
            >
              {{ chat.lastMessage?.content }}
            </p>

            @if (unreadCount > 0) {
              <p-badge
                [value]="unreadCount"
                severity="secondary"
                class="size-6 shrink-0 rounded-full"
              />
            }
          </div>
        </div>
      </a>
    </li>
  }
</ul>
